image: Ubuntu  # образ для сборки

stack: jdk 11  # версия JDK

branches:
  only:
    - main  # ветка git

build: off  # будем использовать свой скрипт сборки

install:
  - java -jar ./artifacts/app-card-delivery.jar  -port=7777 &
  - chmod +x gradlew

build_script:
  - ./gradlew test --info -Dselenide.headless=true
